# build output
dist/
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.production
.env.development

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# misc
*.tsbuildinfo
